<html>
<head>
    <title>Chatbot Dịch Vụ Công</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="utf-8" http-equiv="encoding"/>

    <!--Import Google Icon Font-->
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap"
            rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
            rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
            rel="stylesheet"
    />

    <!--Import Font Awesome Icon Font-->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
            crossorigin="anonymous"
    />

    <!--Import materialize.css-->
    <link
            rel="stylesheet"
            type="text/css"
            href="../static/css/materialize.min.css"
    />

    <!--Main css-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- homepage css -->
    <link rel="stylesheet" href="../static/css/homestyle.css"/>
    <link rel="shortcut icon" href="../static/img/huyhieu.png"/> 
</head>

<body>
 <!-- the header -->
 <header>

    <!-- our main logo -->
    <a id="logo" href="#home">
        <img src="../static/img/huyhieu.png" alt="Logo">
        <!-- <span><h5>CỔNG DỊCH VỤ CÔNG </h5>
            TỈNH SÓC TRĂNG
        </span> -->
        <span><h5>CỔNG DỊCH VỤ CÔNG</h5></span> <span class="small"> TỈNH SÓC TRĂNG <span>
    </a>

    <!-- main navigation links -->
    <div class="nav">
        <ul>
            <li><a href="#home">Trang chủ</a></li>
            <li><a href="#gioithieu">Giới thiệu</a></li>
            <li><a href="#huongdan">Hướng Dẫn</a></li>
            <li class="signin"><a href="#home">Đăng nhập</a></li>
            <li class="signup"><a href="#home">Đăng ký</a></li>
        </ul>
        <!-- <span class="functional-buttons">
            <ul>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Sign Up</a></li>
            </ul>
          </span> -->
    </div>
  
</header>

<!-- the content -->
<main>

    <!-- hero content -->
    <div class="hero" id="home">
        <!-- content for the hero -->
        <div class="hero-content">
            <h1 class="hero-title">Hệ thống trợ lý ảo chatbot</h1>
            <marquee behavior="alternate"><p>Hãy trải nghiệm chức năng trợ lý ảo để tìm kiếm nhanh hơn!</p></marquee>
            <a href="#">Tra cứu <i class="fa fa-search"></i></a>
            <a href="#">Thống kê <i class="fa fa-bar-chart"></i></a>
            <a href="#">Hỏi đáp <i class="fa fa-assistive-listening-systems"></i></a>
        </div>
    </div>

    <!-- features section -->
    <div class="site-section" id="gioithieu">
    <div class="site-section-inside">

        <div class="section-header">
            <h2>CHATBOT NHẬN DẠNG GIỌNG NÓI HỖ TRỢ HỆ THỐNG DỊCH VỤ CÔNG TRỰC TUYẾN</h2>
        </div>

        <div class="feature-box">
            <img src="../static/img/search.png" alt="Easy to Use">
            <h5>Với mục tiêu</h5>
            <!-- <p>Giải đáp các yêu cầu của người dân, doanh nghiệp về thông tin dịch vụ công tại nhiều cổng dịch vụ công trên cả nước.</p> -->
            <p>Hỗ trợ tra cứu thông tin về các đơn vị hành chính trong một tỉnh, tra cứu thông tin về tình trạng hồ sơ của tổ chức cá nhân đã nộp, các số liệu thống kê về hồ sơ theo từng khoản thời gian và từng đơn vị trong một tỉnh.</p>
        </div>

        <div class="feature-box">
            <img src="../static/img/note.png" alt="Fun to Use">
            <h5>Là phương tiện</h5>
            <p>Giúp người dân, doanh nghiệp góp ý, phản ánh, kiến nghị nhằm chung tay cải cách thủ tục hành chính tạo môi trường thông thoáng trong phát triển sản xuất kinh doanh, phát triển kinh tế xã hội cho tỉnh nhà và góp phần phát triển đất nước.</p>
        </div>

        <div class="feature-box">
            <img src="../static/img/chat.png" alt="Fun to Use">
            <h5>Là công cụ</h5>
            <p>Giúp giảm bớt sự hỗ trợ trực tiếp từ con người, giảm thiểu chi phí và tiết kiệm thời gian, đẩy mạnh hiệu quả ứng dụng công nghệ thông tin trong lĩnh vực hành chính công, đồng thời giúp cho thông tin trở nên minh bạch và dễ tiếp cận hơn.</p>
        </div>

    </div>
    </div>

    <!-- testimonials section -->
    <div class="site-section site-section-secondary" id="huongdan">
    <div class="site-section-inside">

        <div class="section-header">
            <h2>HƯỚNG DẪN SỬ DỤNG</h2>
        </div>

        <div class="testimonial-box">
            <div class="testimonial-content">
                Để sử dụng chức năng chatbot hỗ trợ dịch vụ công trực tuyến bằng giọng nói, đầu tiên hãy nhấn vào biểu tượng chatbot <i class="fa fa-hand-o-right"></i> phía dưới cùng góc phải trang web.
            </div>
            <div class="testimonial-author">
                <img src="../static/img/chatbot-icon.png" alt="David East">
                <h5>Bước 01</h5>
                <!-- <span>King of Firebase</span> -->
            </div>
        </div>

        <div class="testimonial-box">
            <div class="testimonial-content">
                Sau khi khung chat được mở lên, nhấn giữ vào biểu tượng micrô <i class="fa fa-microphone"></i>, tiếp tục cho phép trang web truy cập vào micrô và sử dụng giọng nói để tra cứu nhanh thông tin.
            </div>
            <div class="testimonial-author">
                <img src="../static/img/microphone.jpg" alt="Holly Lloyd">
                <h5>Bước 02</h5>
                <!-- <span>Queen of Scotch</span> -->
            </div>
        </div>

        <div class="testimonial-box">
            <div class="testimonial-content">
                Có thể làm mới hội thoại (restart), xóa hội thoại hiện tại (clear), và đóng khung chat (close) bằng cách nhấn vào biểu tượng <i class="fa fa-ellipsis-v"></i> phía trên cùng bên phải khung chat.
            </div>
            <div class="testimonial-author">
                <img src="../static/img/list.png" alt="Brad Green">
                <h5>Bước 03</h5>
                <!-- <span>King of Angular</span> -->
            </div>
        </div>

    </div>
    </div>

</main>

<!-- the footer -->
<footer>
    <img src="../static/img/Dai_hoc_Can_Tho.png" alt="Footer Logo">

            <div class="footer-item">
              <div class="footer-heading">
                <h6>Giảng Viên Hướng Dẫn</h6>
              </div>
              <ul class="footer-list">
                <li><a href="#">TS.Trần Hoàng Việt</a></li>
              </ul>
            </div>
            <div class="footer-item">
              <div class="footer-heading">
                <h6>Sinh Viên Thực Hiện</h6>
              </div>
              <ul class="footer-list">
                <li><a href="#">Lý Hiểu Siêng</a></li>
                <li><a href="#">Nguyễn Trà My</a></li>
                <li><a href="#">Lê Thị Mỹ Nhân</a></li>
                <li><a href="#">Hồ Thị Ngọc Trúc</a></li>
                <li><a href="#">Nguyễn Minh Hậu</a></li>
              </ul>
            </div>

    <div class="sub-footer">
        <span>Chatbot hỗ trợ Dịch vụ công bằng phương pháp nhận dạng giọng nói<br>Copyright &copy; tháng 10 năm 2021 </span>
    </div>
</footer>

<!-- chatbot -->
<div class="container">
    <!-- Modal for rendering the charts, declare this if you want to render charts,
       else you remove the modal -->
    <div id="modal1" class="modal">
        <canvas id="modal-chart"></canvas>
    </div>

    <!--chatbot widget -->
    <div class="widget">
        <div class="chat_header">
            <!--Add the name of the bot here -->
            <span class="chat_header_title">Chatbot <li class="status green"></li></span>
            <span class="dropdown-trigger" href="#" data-target="dropdown1">
            <i class="material-icons"> more_vert </i>
          </span>

            <!-- Dropdown menu-->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#" id="clear">Clear</a></li>
                <li><a href="#" id="restart">Restart</a></li>
                <li><a href="#" id="close">Close</a></li>
            </ul>
        </div>

        <!--Chatbot contents goes here -->
        <div class="chats" id="chats">
            <div class="clearfix"></div>
        </div>

        <!--keypad for user to type the message -->
        <div class="keypad">
            <div id="voiceButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M16 11c0 2.209-1.791 4-4 4s-4-1.791-4-4v-7c0-2.209 1.791-4 4-4s4 1.791 4 4v7zm4-2v2c0 4.418-3.582 8-8 8s-8-3.582-8-8v-2h2v2c0 3.309 2.691 6 6 6s6-2.691 6-6v-2h2zm-7 13v-2h-2v2h-4v2h10v-2h-4z"/>
                </svg>
            </div>
            <textarea
                    id="userInput"
                    placeholder="Nhập hoặc giữ và nói..."
                    class="usrInput"
            ></textarea>
            <div id="sendButton">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <!--bot profile-->
    <div class="profile_div" id="profile_div">
        <img class="imgProfile" src="../static/img/chatbot_avata.png"/>
    </div>

    <!-- Bot pop-up intro -->
    <div class="tap-target" data-target="profile_div">
        <div class="tap-target-content">
            <h5 class="white-text">Xin chào 👋</h5>
            <p class="white-text">
                Tôi là ChatBot, tôi rất thông minh.
            </p>
        </div>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
        type="text/javascript"
        src="../static/js/lib/materialize.min.js"
></script>
<script src="../static/js/lib/uuid.min.js"></script>
<!--Main Script -->
<script type="text/javascript" src="../static/js/script.js"></script>

<!--Chart.js Script -->
<script type="text/javascript" src="../static/js/lib/chart.min.js"></script>
<script type="text/javascript" src="../static/js/lib/showdown.min.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=Or2SOZQl"></script>
<script>
    let speech = new SpeechRecognitionApi({
        output: document.getElementById("userInput")
    })

    $("#voiceButton").mouseup(function (){
        let aa = speech.stop();
        console.log(aa);
        console.log('up');
    }).mousedown(function (){
        speech.init();
        console.log('down');
    })
</script>
</body>
</html>
